.app-container {
  max-width: 800px;
}

[data-bs-theme="dark"] {
  --bs-body-bg: var(--bs-dark-bg-subtle);
  --bs-body-color: var(--bs-body-color);
}

.form-control.bg-dark:focus {
  background-color: var(--bs-gray-dark);
  border-color: var(--bs-secondary-border-subtle);
  box-shadow: 0 0 0 var(--bs-focus-ring-width) rgba(var(--bs-secondary-rgb), var(--bs-focus-ring-opacity));
}

.btn-dark {
  background-color: var(--bs-dark-bg-subtle);
  border-color: var(--bs-dark-border-subtle);
  color: var(--bs-body-color);
}

.btn-dark:hover {
  background-color: var(--bs-secondary-bg);
  border-color: var(--bs-secondary-border-subtle);
  color: var(--bs-body-color);
}

a {
  color: var(--bs-body-color);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #f8f9fa;
}